// Color
$color-text : #fff;
$content-color: #285186;
$bColor: #30303D;
$bColor_btn: #28518685;
$valide: #3aac0d;
$error: #d10f0f;

//Font-Size
$h1: 24px;
$h2: 18px;
$h3: 16px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: $bColor;
    color: $color-text;
}

main {
    max-width: 70%;
    margin: auto;

    & h1 {
        margin: 50px 0;
        padding: 25px;
        text-align: center;
        background-color: $content-color;
    }

    & .blockQues {
        border: 2px solid $color-text;
        border-radius: 5px;
        margin: 30px 0px;
        padding: 25px;
    }

    & h2 {
        background-color: $content-color;
        margin: 10px 0;
        padding: 15px;
        text-align: center;
    }

    & .response {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 20px;
        margin: 10px 0;
        border-radius: 10px;
    }

    & .response:focus-within {
        border: solid $valide;
    }

    & .response input {
        opacity: 0;
    }

    & .response-message {
        text-align: center;
        font-size: $h2;
        margin: 20px 0;
    }

    & .result {
        text-align: center;
        font-size: $h2;
        margin: 20px 0;
    }

    & label {
        width: 80%;
        padding: 25px 0;
        font-size: $h3;
    }

    & h3 {
        font-size: $h3;
    }

    & .checkBtn {
        display: flex;
        margin: auto;
        padding: 8px 80px;
        border: none;
        border-radius: 5px;
        border: solid 2px $content-color;
        background-color: $bColor_btn;
        color: $color-text;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        transition: .1s;
    }

    & .checkBtn:hover {
        transition: .2s;
        background-color: $content-color;
    }
}


#btnEnd {
    background-color: $valide;
    &:hover {
        background-color: darken($valide, 10%);
    }
}
#verifBtn {
    background-color: $error;
    &:hover {
        background-color: darken($error, 10%);
    }
}


.correct {
    background-color: $valide;
}
.incorrect {
    background-color: $error;
}